
<mat-card>
    <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="container">
            <mat-card-header>
                <mat-card-title>Editar Afastamento</mat-card-title>
            </mat-card-header>

            <mat-form-field>
                <input matInput placeholder="Nome do Evento" formControlName="nome_evento">
            </mat-form-field>

            <mat-form-field>
                <input matInput name="timestamp"   placeholder="Data de Inicio Afastamento " formControlName="data_inicio_afastamento">
            </mat-form-field>

            <mat-form-field>
                <input matInput name="timestamp"  placeholder="Data Final de Afastamento" formControlName="data_final_afastamento">

            </mat-form-field>
            <mat-form-field>
                <input matInput  name="timestamp"   placeholder="Data de Inicio Evento " formControlName="data_inicio_evento">
            </mat-form-field>

            <mat-form-field>
                <input matInput name="timestamp"   placeholder="Data Final de evento" formControlName="data_fim_evento">
            </mat-form-field>

           <p *ngIf="this.admin"> Situação</p>
            <select *ngIf="this.admin" placeholder="Chefe" formControlName="chefe"  formControlName="situacao">
                <option  value="0">Iniciado</option>
                <option  value="1">Liberado</option>
                <option  value="2">AprovadoDI</option>
                <option  value="3">AprovadoCT</option>
                <option  value="4">AprovadoPRPPG</option>
                <option  value="5">Cancelado</option>
                <option  value="6">Reprovado</option>
                <option  value="7">Arquivado</option>
            </select>
           Tipo Afastamento
            <select placeholder="tipo"  formControlName="tipoAfastamento">
                <option  value="0">Nacional</option>
                <option  value="1">Internacional</option>
            </select>
            Onus
            <select placeholder="onus" formControlName="onus">
                <option  value="0">Total</option>
                <option  value="1">Parcial</option>
                <option  value="2">Inexistente</option>
            </select>

            <mat-form-field>
                <input matInput placeholder="Motivo" formControlName="motivo">
            </mat-form-field>

            <button mat-flat-button color="primary" type="submit">Cadastrar</button>
        </div>
    </form>
</mat-card>


