
<mat-card>
    <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="container">
            <mat-card-header>
                <mat-card-title>Deferir Parecer</mat-card-title>
            </mat-card-header>

            <mat-form-field>
                <input matInput   type="date" placeholder="Data Parecer" formControlName="data_parecer">
            </mat-form-field>


            Afastamento
            <select placeholder="Afastamento"  formControlName="id_afastamento" >

                <option *ngFor="let afastamento of  afastamentos" [value]="afastamento.id">
                    {{afastamento.nome_evento}} - {{afastamento.user.name}}</option>
    
            </select>
             
           
            Julgamento
            <select placeholder="Julgamento" formControlName="chefe"  formControlName="julgamento">
                <option  value="1">Favoravel</option>
                <option  value="2">Desfavoravel</option>
            </select>
           
            <mat-form-field>
                <input matInput placeholder="Motivo" formControlName="motivo">
            </mat-form-field>

            <button mat-flat-button color="primary" type="submit">Cadastrar</button>
        </div>
    </form>
</mat-card>


