<div>
   
 <p>Nome Evento: {{afastamentos.nome_evento}}</p>
 <p>data_inicio_afastamento: {{afastamentos.data_inicio_afastamento}}</p>
 <p> data_final_afastamento: {{afastamentos.data_final_afastamento}}</p>
 <p>data_inicio_evento: {{afastamentos.data_inicio_evento}}</p>
 <p>data_fim_evento: {{afastamentos.data_fim_evento}}</p>
 <p>situacao:{{afastamentos.situacao}}</p>
 <p>tipoAfastamento": {{afastamentos.tipoAfastamento}}</p>
 <p>onus: {{afastamentos.onus}}</p>
 <p>motivo:{{afastamentos.motivo}}</p>
 <p>id_professor:{{afastamentos.id_professor}}</p>

</div>
