
<mat-card>
    <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="container">
            <mat-card-header>
                <mat-card-title>Solicitar Afastamento</mat-card-title>
            </mat-card-header>

            <mat-form-field>
                <input matInput placeholder="Nome do Evento" formControlName="nome_evento">
            </mat-form-field>

            <mat-form-field>
                <input matInput   type="date" placeholder="Data de Inicio Afastamento " formControlName="data_inicio_afastamento">
            </mat-form-field>

            <mat-form-field>
                <input matInput  type="date" placeholder="Data Final de Afastamento" formControlName="data_final_afastamento">

            </mat-form-field>
            <mat-form-field>
                <input matInput   type="date" placeholder="Data de Inicio Evento " formControlName="data_inicio_evento">
            </mat-form-field>

            <mat-form-field>
                <input matInput  type="date" placeholder="Data Final de evento" formControlName="data_fim_evento">
            </mat-form-field>

         
           Tipo Afastamento
            <select placeholder="tipoAfastamento"  formControlName="tipoAfastamento">
                <option  value="0">Nacional</option>
                <option  value="1">Internacional</option>
            </select>
            Onus
            <select placeholder="onus"  formControlName="onus">
                <option  value="0">Total</option>
                <option  value="1">Parcial</option>
                <option  value="2">Inexistente</option>
            </select>

            <mat-form-field>
                <input matInput placeholder="Motivo" formControlName="motivo">
            </mat-form-field>

            <button mat-flat-button color="primary" type="submit">Cadastrar</button>
        </div>
    </form>
</mat-card>


