<mat-card>
    <form [formGroup]="formulario"  (ngSubmit)="onSubmit()">
        <div class="container">
            <mat-card-header>
                <mat-card-title>Login</mat-card-title>
            </mat-card-header>

            <mat-form-field>
                <input matInput placeholder="Name" formControlName="name">
               
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Description" formControlName="description">
               
            </mat-form-field>

            <mat-form-field>
                <input matInput  type="date" placeholder="date" formControlName="data">

            </mat-form-field>
            <button mat-flat-button color="primary" type="submit">Login</button>
           
           
        </div>
    </form>
</mat-card>
