

<div id="divBusca" style="margin-top:10px;">
      Buscar pelo nome do Professor <input type="text" id="txtBusca"
      #termodapesquisaprof (keyup)="pesquisaprofessor(termodapesquisaprof.value)"/> 
      <button style="margin-right:10px;">Buscar</button> 

       Buscar pelo nome do Evento <input type="text" id="txtBusca2"
       #termodapesquisanome (keyup)="pesquisanome(termodapesquisanome.value)"
       /> 
       
       <button>Buscar</button>
</div>

<div id="students" class="container">
    <h2>Lista de Afastamentos</h2>
    <table>
      <tr>
        <th>Nome</th>
        <th>data inicio</th>
        <th>data final</th>
        <th> situacao </th>
        <th> Tipo </th>
        <th> Professor </th>
        <th  *ngIf="this.admin">Excluir</th>
        <th  *ngIf="this.admin">Excluir</th>
        <th *ngIf="this.admin"> editar </th>
      </tr>
      <tr *ngFor="let afastamento of  afastamentos">
        <td>{{afastamento.nome_evento}}</td>
        <td>{{afastamento.data_inicio_afastamento | date:'medium'}}</td>
        <td>{{afastamento.data_final_afastamento  | date:'medium'}}</td>
        <td>{{enumSituacao[afastamento.situacao]}}</td>
        <td>{{tipoAfastamento[afastamento.tipoAfastamento]}}</td>
        <td>{{afastamento.user.name}}</td>
        <td  *ngIf="this.admin" (click)="deleteStudent(afastamento.id)" style="cursor: pointer;"><mat-icon>delete</mat-icon></td>
        <td class="vermais" [routerLink]="['../verafastamento',afastamento.id]" style="cursor: pointer;"> ver mais</td>
        <td *ngIf="this.admin" [routerLink]="['../editarasfamento',afastamento.id]" style="cursor: pointer;"> editar</td>
        
      </tr>
    </table>
  </div>
  
