

<div>
      <h3 class="h3_top">{{this.alguem}}(a): {{name2}}  <div  class="email" >email:{{this.e_mail}}</div>  </h3>
</div>
 <div *ngIf="!this.admin" id="students" class="container">
     <h2>Meus afastamentos</h2>
     <table>
       <tr>
         <th>Nome</th>
         <th>Data Inicio</th>
         <th>Data Final</th>
         <th>Nome</th>
         <th>Situação</th>
         <th>editar</th>
       </tr>
       <tr *ngFor="let meusAfastamento of meusAfastamentos">
         <td>{{meusAfastamento.nome_evento}}</td>
         <td>{{meusAfastamento.data_final_afastamento | date:'medium'}}</td>
         <td>{{meusAfastamento.data_inicio_afastamento | date:'medium'}}</td>
         <td>{{meusAfastamento.user.name}}</td>
         <td>{{this.enumSituacao[meusAfastamento.situacao]}}</td>
         <td [routerLink]="['../editarasfamento',meusAfastamento.id]"> editar</td>
       </tr>
     </table>

 </div>
 <div *ngIf="!this.admin" id="students" class="container">
    <h2>Meus Parentes</h2>

    <table>
      <tr>
        <th>Professor</th>
        <th>Tipo</th>
      </tr>
      <tr *ngFor="let meusParentesco of meusParentescos">
        <td>{{meusParentesco.user.name}}</td>
        <td>{{this.tipoParente[meusParentesco.tipo]}}</td>

      </tr>
    </table>

</div>

<div class="info">

    <h1>BEM-VINDO AO SCAP </h1>
    <h3>Sistema de controle de afastamento de Professores foi criado com intuito de auxiliar  
    o departamento no controle de solicitações de afastamentos de seus professores efetivo</h3>
</div>

