<mat-sidenav-container class="sidenav-container" fullscreen>
	<mat-sidenav-content>
		<div class="main-content">   
			<router-outlet> 
            </router-outlet>
		</div>
        
        <div class="botao">
            <a    [routerLink]="['/home/showhome']">  <button>Home</button></a>     
            <a  *ngIf="this.admin" [routerLink]="['/home/professor']">  <button>Cadastro Professor</button></a>
            <a  *ngIf="this.admin" [routerLink]="['/home/secretario']">  <button> Cadastro  Secretário</button></a>
            <a  *ngIf="this.admin" [routerLink]="['/home/mandato']">  <button> Cadastro Mandato</button></a>
            <a  *ngIf="!this.admin" [routerLink]="['/home/afastamento']">  <button> Criar Afastamento</button></a>
            <a  *ngIf="this.admin" [routerLink]="['/home/parentesco']">  <button> Cadastro Parentesco</button></a>
            <a  *ngIf="!this.admin" [routerLink]="['/home/parecer']">  <button> Deferir Parecer</button></a>
            <a  *ngIf="!this.admin" [routerLink]="['/home/documento']">  <button> Criar Documento</button></a>
            <a  *ngIf="this.admin" [routerLink]="['/home/listaprofessor']">  <button>Professores</button></a> 
            <a   [routerLink]="['/home/listafastamento']">  <button> Lista Afastamento</button></a> 
        </div>
	</mat-sidenav-content>
</mat-sidenav-container>

   